body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.74);
}
.main-input{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255, 255, 255, 0.281);
    padding:10px;
    border-radius:10px;
    background-color:black;
    margin:10px 10px;
  
}
button{
    padding:10px 15px;
background-color:white;
    border-radius:100%;
    color:black;
    text-align: center;
    border:none;
    font-weight: bold;
}
.input-area{
    margin:10px 10px;
}
#main-inputarea{
    padding:25px 5px;
    border-radius:5px;
    border:none;
    color:black;
    text-align:right;
    margin-top:20px;
}
.output-area{
    padding:0px 5px;
}
#oparator{
    background-color:orange
}
